/* Voyga */

/* GLOBAL */

@font-face
{
    font-family: Coves-Light;

    src: url(../font/Coves-Light.otf);
}
@font-face
{
    font-family: Coves-Bold;

    src: url(../font/Coves-Bold.otf);
}
*
{
    font-family: Coves-Bold;
}
body
{
    overflow: hidden;

    width: 100%;
    height: 100%;

    transition: .5s;

    opacity: 0;
    background: #d5ecff;
}
.page
{
    overflow: hidden;

    width: 100%;
    height: 100%;

    transition: .5s;
}
.center
{
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.vertiCenter
{
    position: absolute;
    top: 50%;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}
.horiCenter
{
    position: absolute;
    left: 50%;

    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.background
{
    position: absolute;

    width: 1600px;
    height: auto;
    margin-top: -360px;
    margin-left: -160px;

    transition: .5s;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-animation: roll 2s infinite linear;
            animation: roll 2s infinite linear;

    opacity: .6;
}
#pinkBack
{
    opacity: 0;
}
@-webkit-keyframes roll
{
    0%
    {
        -webkit-transform: rotate(-45deg) translateY(0);
                transform: rotate(-45deg) translateY(0);
    }
    100%
    {
        -webkit-transform: rotate(-45deg) translateY(-112px);
                transform: rotate(-45deg) translateY(-112px);
    }
}
@keyframes roll
{
    0%
    {
        -webkit-transform: rotate(-45deg) translateY(0);
                transform: rotate(-45deg) translateY(0);
    }
    100%
    {
        -webkit-transform: rotate(-45deg) translateY(-112px);
                transform: rotate(-45deg) translateY(-112px);
    }
}

/* GLOBAL */

/* 1 */

#wechatCover
{
    display: none;

    width: 360px;
    height: auto;
}
#cat
{
    z-index: 100;
    bottom: 0;

    width: 540px;
    height: auto;
}
@media (max-width: 720px)
{
    #cat
    {
        width: 72%;
    }
}
#title
{
    font-size: 72px;

    top: 96px;

    text-align: center;

    color: #fff;
}

/* 1 */
