// Voyga

#main
{
    z-index: 0;

    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);

    opacity: 1;
    .settingBox
    {
        position: absolute;
        top: -132px;
        left: 0;

        width: 100%;
        height: 132px;

        transition: -webkit-transform .5s;
        transition:         transform .5s;

        background: $red;
        &.setting
        {
            -webkit-transform: translate3d(0, 132px, 0);
                    transform: translate3d(0, 132px, 0);
        }
    }
    .wrapper
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        .header
        {
            position: relative;

            width: 100%;
            height: 12%;

            background: $back;
            .iconBox
            {
                width: 36px;
                height: 36px;
                margin-top: 4px;

                border-radius: 50%;

                @extend .vertiCenter;
                &:nth-child(1)
                {
                    left: 32px;
                }
                &:nth-child(2)
                {
                    right: 32px;
                }
                &.pressing
                {
                    background: #e3e3e3;
                }
                .icon
                {
                    font-size: 14px;

                    color: #888;
                }
            }
            .ball
            {
                display: inline-block;

                width: 16px;
                height: 16px;

                border: solid 2px $blue;
                border-radius: 50%;
                & + span
                {
                    display: inline-block;

                    width: 4px;
                }
                &.light
                {
                    background: $blue;
                }
            }
            .title
            {
                font-size: 28px;

                display: inline-block;

                margin-top: 4px;

                color: #777;
            }
        }
        .day
        {
            position: relative;

            width: 100%;
            height: 64%;

            background: $back;
            > .center
            {
                width: 100%;
                .count
                {
                    font-size: 124px;

                    display: inline;

                    margin-top: 8px;

                    color: $blue;
                }
                .info
                {
                    display: inline-block;

                    width: auto;
                    height: auto;
                    margin-left: 6px;
                    .days
                    {
                        font-size: 26px;

                        text-align: left;

                        color: #888;
                    }
                    .since
                    {
                        font-size: 20px;

                        margin-top: -4px;

                        text-align: left;

                        color: #aaa;
                    }
                }
            }
        }
        .accomplish
        {
            position: relative;

            width: 100%;
            height: 24%;

            background: $back;
            > .center
            {
                width: 100%;
                .button
                {
                    font-family: $light;
                    font-size: 16px;

                    height: 42px;
                    margin: -8px auto 0;
                    padding-right: 15px;
                    padding-left: 15px;

                    color: $blue;
                    border: solid 2px $blue;
                    border-radius: 21px;
                    &.accomplished
                    {
                        color: #f5f5f5;
                        background: #8cbdfa;
                    }
                }
            }
        }
        .emptymsg
        {
            width: 100%;

            @extend .vertiCenter;
            p
            {
                font-family: $regular;

                text-align: center;
                vertical-align: middle;

                color: #aaa;
                &:nth-child(1)
                {
                    font-size: 24px;
                }
                &:nth-child(2)
                {
                    font-size: 18px;

                    margin-top: 4px;

                    color: #bbb;
                }
                .iconBox
                {
                    position: relative;
                    top: 6px;

                    display: inline-block;

                    width: 24px;
                    height: 24px;
                    margin: 0 2px 0 2px;

                    border-radius: 3px;
                    background: #eee;
                    .icon
                    {
                        font-size: 12px;

                        color: #aaa;
                    }
                }
            }
        }
    }
}
