// Voyga

@import 'global';

#intro
{
    z-index: 1;

    transition: .5s;
    text-align: center;

    background: $back;
    &.hide
    {
        z-index: 0;

        -webkit-transform: scale(.75) !important;
                transform: scale(.75) !important;

        opacity: 0 !important;
    }
    > .box
    {
        width: 100%;
    }
    p
    {
        color: $blue;
    }
    .title
    {
        font-size: 48px;
    }
    .content
    {
        font-size: 24px;

        width: 270px;
        margin: 24px auto 0;
    }
}
