<!-- Voyga -->

<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1" />
    <meta name="author" content="Voyga" />
    <meta name="description" content="One" />
    <link rel="stylesheet" href="lib/ionicons.min.css" />
    <link rel="stylesheet" href="lib/v.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="icon" href="icon/icon.png" />
    <script src="cordova.js"></script>
    <script src="lib/vue.min.js"></script>
    <script src="lib/thumbs.min.js"></script>
    <script src="lib/fetch.min.js"></script>
    <script src="lib/fastclick.min.js"></script>
    <script src="lib/v.js"></script>
    <script src="lib/vIs.js"></script>
    <script src="lib/vCordova.js"></script>
    <script src="lib/vAjax.js"></script>
    <script src="lib/vDate.js"></script>
    <script src="lib/vStorage.js"></script>
    <script src="js/main.js"></script>
    <title>One</title>

    </head>

<body>
        
    <div id="listPage" class="pages">

        <div class="content center">

            <div id="sectionBox" v-bind:style="{ 'opacity': status.changing ? '1' : '0' }"  v-bind:class="{ 'changing': status.changing }">

                <p class="sectionTitle" v-for="(section, content) in articles.data" v-bind:class="{ 'currentSectionTitle': currentSection.data === section }" v-on:click="currentSection.data = section, currentSection.save(), status.changing = false" v-text="static.names[section]"></p>
                
                </div>

            <p class="pageTitle" v-bind:style="{ 'background': status.changing ? '#ddd' : 'none' }" v-bind:class="{ 'changing': status.changing }" v-on:click="status.changing = !status.changing"><i class="icon ion-navicon"></i>&nbsp;&nbsp;{{static.names[currentSection.data]}}</p>

            <div id="list" v-bind:style="{ 'opacity': status.changing ? '0.5' : '1' }" v-bind:class="{ 'changing': status.changing }">

                <div class="articleBox" v-for="article in articles.data[currentSection.data]" v-on:click="open(article.url)" v-pressing-class="articleBoxPressing">

                    <p class="articleTitle" v-text="article.title"></p>
                    <p class="articleStatus" v-text="article.status"></p>
                    
                    </div>
                
                </div>

            </div>
        
        </div>

    </body>

</html>