<!-- Voyga -->

<!DOCTYPE html>

<html>

<head>

	<meta charset="utf-8" />
	<meta name="author" content="Voyga" />
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" href="lib/fontAwesome.min.css" />
	<link rel="stylesheet" href="lib/v.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="icon" href="icon/icon.png" />
	<script src="cordova.js"></script>
	<script src="lib/vue.min.js"></script>
	<script src="lib/fastclick.min.js"></script>
	<script src="lib/hammer.min.js"></script>
	<script src="lib/thumbs.min.js"></script>
	<script src="lib/v.js"></script>
	<script src="lib/vDate.js"></script>
	<script src="lib/vCordova.js"></script>
	<script src="lib/vIs.js"></script>
	<script src="lib/vStorage.js"></script>
	<script src="js/main.js"></script>
	<title>Due</title>

	</head>

<body>

	<div id="main" v-on="touchstart: hideWindows">

		<p id="hint" class="center" v-class="hintShow: noTask">No tasks yet,<br />Tap the button below to add one.</p>

		<ul id="taskList" v-el="taskList">

			<li class="taskBoxes" v-repeat="task in tasks.data" v-delete-task="$index" v-pressing-class="taskBoxesPressing">

				<div class="statusBars" v-style="background: task.date | statusColor"></div>
				<p class="taskTitles vertiCenter" v-text="task.name"></p>
				<p class="taskDays vertiCenter" data-format="0" v-change-format="{{task.date}}"></p>

				</li>

			</ul>

		<div id="deleteWindow" class="windows" v-class="windowsShow: status.deleting" v-on="touchstart: stopPropagation($event)">

			<p class="windowTitles">Delete</p>

			<button class="options" v-on="click: hideWindows" v-pressing-class="optionsPressing">no</button>
			<button class="options" v-on="click: deleteTask" v-pressing-class="optionsPressing">yes</button>

			</div>

		<div id="addWindow" class="windows" v-class="windowsShow: status.adding" v-on="touchstart: stopPropagation($event)">

			<p class="windowTitles">Add</p>
			<div class="lines"></div>

            <div id="inputArea">

                <p class="inputTitles">TASK NAME</p>
                <input id="taskName" class="inputs" type="text" placeholder="Name" v-model="inputs.taskName" />

                <p class="inputTitles">DUE DATE</p>
                <input id="dueMonth" class="inputs" type="tel" v-model="inputs.dueMonth | limit 2 | number" /><span class="dashes">-</span>
                <input id="dueDay" class="inputs" type="tel" v-model="inputs.dueDay | limit 2 | number" />

                </div>

			<button class="options" v-on="click: hideWindows" v-pressing-class="optionsPressing">cancel</button>
			<button class="options" v-on="click: addTask" v-pressing-class="optionsPressing">add</button>

			</div>

		<div id="writeButton" v-on="click: status.adding = true, touchstart: stopPropagation($event)" v-pressing-class="writeButtonPressing">

			<i class="fa fa-pencil center"></i>

			</div>

		</div>

	</body>

</html>
