/* Voyga */

/* GLOBAL */

@font-face
{
    font-family: BrandonGrotesque-Regular;

    src: url(../font/BrandonGrotesque-Regular.otf);
}
@font-face
{
    font-family: BrandonGrotesque-Bold;

    src: url(../font/BrandonGrotesque-Bold.otf);
}
@font-face
{
    font-family: Ionicons;

    src: url(../lib/ionicons.ttf);
}
body
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 100%;

    transition: .5s;
    text-align: center;

    opacity: 0;
    background: #35404c;
}
#stageBox
{
    position: relative;

    margin: 32px auto 0;
}
#stage
{
    border: solid 4px #26313d;
}
#stageLayer
{
    font-size: 144px;

    z-index: -1;

    width: calc(100% - 32px);
    height: calc(100% - 32px);

    opacity: 0;
    background: #26313d;
}
.stageLayerShow
{
    z-index: 1 !important;

    opacity: 1 !important;
}
#text
{
    font-family: BrandonGrotesque-Bold;
    font-size: 1em;

    margin-top: 8px;

    color: #35404c;
}
#buttonBox
{
    position: relative;

    margin: 24px auto 0;
}
.buttons
{
    border: solid 4px #26313d;
}
.buttons:nth-child(1)
{
    top: 0;
}
.buttons:nth-child(2)
{
    left: 0;
}
.buttons:nth-child(3)
{
    right: 0;
}
.buttons:nth-child(4)
{
    bottom: 0;
}
.buttonPressing
{
    background: #26313d !important;
}
